* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(14, 5, 62);
}

.header {
  background-color: #18181c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 25px;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 50px;
  width: auto;
  border-radius: 5px;
  transition: all 0.2;
}

.header .logo img:hover {
  transform: scale(1.4);
}

.header #menu {
  list-style: none;
}

.header #menu li {
  display: inline-block;
  padding: 0 10px;
  transition: all 0.3;
}

.header #menu a {
  font-size: 700;
  color: white;
  text-decoration: none;
}

.header #menu li:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  margin: 15px 5px;
  transition: all 0.3;
}

.header .btn button {
  margin-left: 20px;
  font-weight: 700;
  background-color: #26bbff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: rgb(28, 154, 196);
}

.iconos {
  display: flex;
  align-items: center;
  /* height: 100vh; */
}

.iconos a {
  display: inline-block;
  margin-left: 15px;
}

.iconos a img:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

.iconos img {
  width: 50px;
  height: 40px;
}

.nav-barra {
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding: 50px 150px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-lupa {
  position: relative;
}

.nav-barra input {
  background-color: rgb(56, 54, 54);
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  padding: 10px 10px 10px 40px;
  margin: 20px;
  border-radius: 20px;
  color: aliceblue;
  width: 300px;
}

input::placeholder {
  color: aliceblue;
  text-align: center;
}

.lupa-icon {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.nav-li ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: rgb(95, 95, 95);
}

.nav-li li {
  margin-left: 20px;
  color: rgb(95, 95, 95);
}

.nav-li a {
  text-decoration: none;
  color: rgb(95, 95, 95);
}

.nav-li a:hover {
  color: aliceblue;
  transition: all 0.4s;
}

#marca {
  color: var(--sky-50);
  padding: 50px;
}

#imagenes {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 20px;
}

#imagenes article {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 30%;
  background-color: var(--violet-950);
  border-radius: 10px;
}

#imagenes article img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}



.productos {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  padding: 20px;
}

.productos p {
  display: block;
  margin: 50px ;
  font-size: 18px;
  color: white;
}

article:hover {
  cursor: pointer;
}